/cmake-build-debug/
/cmake-build-debug-cygwin/
/cmake-build-debug-wsl_clang/
/cmake-build-debug-wsl_gcc/
/cmake-build-default-visual-studio/
/cmake-build-minsizerel-wsl-gcc/
/cmake-build-release/
/cmake-build-release-cygwin/
/cmake-build-release-wsl_clang/
/cmake-build-release-wsl_gcc/
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dictionaries/savo9.xml
/.idea/untitled.iml
/.idea/vcs.xml
/.idea/.name
